{% load static %}
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logofooter.png' %]" alt=""></h3>
                <div class="textwidget">
                  <p>Oficina De Automóveis em Vila Nova Curuçá - Especializada em Câmbio Automático - Trabalhamos com todas as marcas Nacionais e Importados</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="https://www.linkedin.com/in/henrique-baptista-3b24581a4/"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Produtos</h3>
              <ul class="footer-link">
                <li><a href="#">Reparo Geral</a></li>
                <li><a href="#">Transmissao Automatica</a></li>
                <li><a href="#">Motor</a></li>
                <li><a href="#">Checagem com aparelho</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Horarios</h3>
              <ul class="footer-link">
                <li><a href="#">seg.:	08:00 – 18:00</a></li>
                <li><a href="#">qua.:	08:00 – 18:00</a></li>
                <li><a href="#">qui.:	08:00 – 18:00</a></li>
                <li><a href="#">sex.:	08:00 – 18:00</a></li>
                <li><a href="#">sab.:	Fechado</a></li>
                <li><a href="#">dom.:	Fechado</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 140 Rua Moricoca <br> Sao Migual Paulista - Proximo ao nagumo </a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> P: 20356284 </a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: contato@wilmec.com.br </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
