{%load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Sobre Nossa Empresa</p>
                  <h2 class="section-title">Quem Nos Somos</h2>
                </div>
                <div class="content">
                  <p>
                    A Wil Mec está localizada na região de São Miguel Paulista especificadamente na Vila Nova Curuçá. Somos especializados em mecânica automotiva em geral com amplo conhecimento em veículos Nacionais e Importados. Proporcionando uma manutenção preventiva e corretiva com produtos e serviços de excelência, prezando pela segurança e bem-estar de nossos clientes
                  </p>
                  <a href="#" class="btn btn-common mt-3">Continuar Lendo</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>